config mqtt_msg 'mqtt_msg'

config mqtt_sub 'mqtt_settings'

config mqtt_event 'labas'           
        option topic 'example'
        option type 'decimal'
        option value '30'
        option dec_operator '3'     
        option user_email 'example@gmail.com'
                         
config mqtt_topic              
        option qos '0'                       
        option topic 'example'
                 

